Source: amqp-rpc-publisher3
Section: python
Priority: optional
Maintainer: None
Build-Depends: debhelper (>= 7), python3 (>= 3.4), python-support
Standards-Version: 3.9.6
X-Python-Version: >= 3.4

Package: amqp-rpc-publisher3
Architecture: all
Section: python
Depends: python3-pika (>= 0.10), ${misc:Depends}, ${python:Depends}
Description: generic amqp-publisher with support for rpc.
 This package contains an amqp-tool to publish messages to an AMQP-Node.
 It can be used where a small publisher is more desireable then a
 larger application stack.
 
 
